URI_DB = {
    Connection string from https://cloud.mongodb.com/ => Clusters => Connect => Item#2.
    You have to get your own user data and insert it instead placeholders <username>, <password>.
    Example: mongodb+srv://<username>:<password>@cluster0.6azbh.mongodb.net/db-contacts?retryWrites=true&w=majority
}

JWT_SECRET_KEY={random abc string}
